In [355]:
import pandas as pd
import pymysql
import sqlalchemy
from sqlalchemy.sql import text as querytoText

In [356]:
passwd = '1234Q1@'

url = sqlalchemy.engine.URL.create(
	drivername="mysql+pymysql",
    username='KMS',
    password=passwd,
    host='175.122.58.102',
    port=33063,
    database='ProjectDB',
)

engine = sqlalchemy.create_engine(url)
conn = engine.connect()
# pd.read_sql('select * from KMS_TestTable', engine)

df_유치원 = pd.read_csv('유치원_개황.csv', encoding='utf-8', index_col=[0,1], header=[0,1,2])
df_elementary = pd.read_csv('초등학교_개황.csv', encoding='utf-8', index_col=[0,1], header=[0,1,2])
df_middleschoole = pd.read_csv('중학교_개황.csv',
                               encoding='euc-kr', 
                               # index_col=[0,1], 
                               # header=[0,1,2]
                               )

df_highschool = pd.read_csv('고등학교_개황.csv',
                               encoding='euc-kr', 
                               # index_col=[0,1], 
                               # header=[0,1,2]
                               )

In [357]:
df_elementary

시도별(1)        2013                                                           \
시도별(1)     학교수 (개) 학급수 (개)  학생수 (명)          교원수 (명)         직원수 (명)
시도별(1)          소계      소계       소계       여자      소계      여자      소계     여자
총계      계     5913  119896  2784000  1335941  181585  139023   25265  12946
        국립      17     387     9798     4897     512     247      40     15
        공립    5820  118082  2733287  1310908  179312  137788   24763  12761
        사립      76    1427    40915    20136    1761     988     462    170
서울특별시   계      597   19149   469392   226687   29751   25466    3174   1674
...            ...     ...      ...      ...     ...     ...     ...    ...
경상남도    사립       2      32      870      435      43      23       7      4
제주특별자치도 계      110    1680    38235    17987    2564    1903     406    200
        국립       1      19      513      255      26      16       2      -
        공립     109    1661    37722    17732    2538    1887     404    200
        사립       -       -        -        -       -       -       -      -

시도별(1)                       ...    2022                                    \
시도별(1)     입학자수 (명)          ... 직원수 (명) 입학자수 (명)         졸업자수 (명)
시도별(1)           소계      여자  ...      여자       소계      여자       소계      여자
총계      계    436621  210958  ...   14709   431509  210488   431813  209504
        국립     1509     759  ...      18     1309     646     1467     721
        공립   428001  206651  ...   14527   423361  206463   424846  206040
        사립     7111    3548  ...     164     6839    3379     5500    2743
서울특별시   계     74125   35914  ...    1883    64013   31404    65432   31862
...             ...     ...  ...     ...      ...     ...      ...     ...
경상남도    사립      140      76  ...       5      136      71      121      48
제주특별자치도 계      5943    2846  ...     208     6688    3192     6605    3172
        국립       72      36  ...       -       60      30       72      36
        공립     5871    2810  ...     208     6628    3162     6533    3136
        사립        -       -  ...       -        -       -        -       -

시도별(1)
시도별(1)     교실수 (개)
시도별(1)          소계    일반교실  교과교실   특별교실 수준별교실
총계      계   177172  138089  8148  29603  1332
        국립     548     403    17    128     -
        공립  174109  136266  7854  28742  1247
        사립    2515    1420   277    733    85
서울특별시   계    24919   19172  1451   4066   230
...            ...     ...   ...    ...   ...
경상남도    사립      48      31     8      9     -
제주특별자치도 계     2411    2062    25    318     6
        국립      23      19     1      3     -
        공립    2388    2043    24    315     6
        사립       -       -     -      -     -

[72 rows x 166 columns]

In [358]:
df_유치원.index.get_level_values(1).unique()

Index(['계', '국립', '공립', '사립'], dtype='object')

In [359]:
df_유치원[df_유치원.index.get_level_values(1) == "계"]

시도별(1)        2013                                                       \
시도별(1)    유치원수 (개) 학급수 (개) 원아수 (명)         교원수 (명)        직원수 (명)
시도별(1)          소계      소계      소계      여자      소계     여자      소계    여자
총계      계     8678   30597  658188  320647   46126  45373    8728  5559
서울특별시   계      869    3829   92400   45337    6657   6573    1680  1054
부산광역시   계      383    1816   44217   21588    3137   3094     682   415
대구광역시   계      361    1471   34550   16715    2538   2468     405   257
인천광역시   계      411    1830   41594   20303    2644   2613     693   457
광주광역시   계      295    1091   22676   11066    1732   1704     212   137
대전광역시   계      260    1201   25263   12410    1797   1753     230   178
울산광역시   계      193     809   19032    9211    1172   1146     228   149
세종특별자치시 계       25      70    1305     686      94     94      11     6
경기도     계     2087    8266  182231   89213   11483  11299    2359  1512
강원특별자치도 계      379     861   16007    7815    1248   1225     429   321
충청북도    계      341     943   17446    8351    1297   1272     330   238
충청남도    계      507    1339   26411   12698    1970   1928     363   210
전라북도    계      523    1432   23266   11197    1941   1914     214   118
전라남도    계      546    1190   18895    9075    1566   1542     171   101
경상북도    계      703    1916   37230   17932    2706   2651     305   175
경상남도    계      683    2289   50370   24540    3706   3663     345   193
제주특별자치도 계      112     244    5295    2510     438    434      71    38

시도별(1)                       ...    2022                                      \
시도별(1)    신입원아수 (명)          ... 직원수 (명) 신입원아수 (명)         졸업원아수 (명)
시도별(1)           소계      여자  ...      여자        소계      여자        소계      여자
총계      계    323993  157329  ...    2824    243721  119767    236392  115866
서울특별시   계     43523   21389  ...     407     29237   14277     26558   13056
부산광역시   계     19996    9774  ...     168     15853    7808     15306    7445
대구광역시   계     18116    8693  ...     147     14293    7139     13697    6719
인천광역시   계     21371   10450  ...     177     15395    7600     14607    7092
광주광역시   계     10793    5255  ...      79      8844    4376      8791    4249
대전광역시   계     13096    6207  ...      71      8628    4198      8470    4177
울산광역시   계      9402    4538  ...      57      6389    3129      6396    3105
세종특별자치시 계       674     358  ...      88      2903    1461      2811    1401
경기도     계     93441   45579  ...     882     67523   33311     65391   32240
강원특별자치도 계      7931    3897  ...      80      6092    2987      6001    2969
충청북도    계      8330    4002  ...      70      6460    3189      6421    3175
충청남도    계     13128    6289  ...     122     11115    5494     10353    5046
전라북도    계      9999    4761  ...      97      7773    3770      7882    3875
전라남도    계      8682    4141  ...      65      7143    3486      7217    3489
경상북도    계     18347    8828  ...     102     13108    6275     14032    6890
경상남도    계     23656   11481  ...     200     18745    9151     18647    9092
제주특별자치도 계      3508    1687  ...      12      4220    2116      3812    1846

시도별(1)
시도별(1)    교실수 (개)
시도별(1)         소계   일반교실 교과교실  특별교실 수준별교실
총계      계   29996  27645  313  1927   111
서울특별시   계    3372   3132   37   185    18
부산광역시   계    2006   1840   26   136     4
대구광역시   계    1869   1614   22   221    12
인천광역시   계    1753   1650    5    89     9
광주광역시   계    1178   1040   29   103     6
대전광역시   계    1118   1052   13    53     -
울산광역시   계     742    695    3    43     1
세종특별자치시 계     460    414    4    41     1
경기도     계    8825   8314   92   399    20
강원특별자치도 계     677    636    4    34     3
충청북도    계     720    669    7    40     4
충청남도    계    1257   1145    7   100     5
전라북도    계    1213   1118    7    79     9
전라남도    계     815    751    5    55     4
경상북도    계    1582   1424   18   129    11
경상남도    계    2301   2054   34   209     4
제주특별자치도 계     108     97    -    11     -

[18 rows x 180 columns]

In [382]:
def genTables(name = "KMS_유치원",df_유치원 = df_유치원):
    firstname = '시도별'
    secondname = '데이터종류'
    conn.execute(querytoText(f'drop table if exists {name};'))
    conn.commit()
    for idx, alpha in enumerate(df_유치원.columns.get_level_values(1).unique()):
        print(alpha)
        result1 = df_유치원[df_유치원.columns[(df_유치원.columns.get_level_values(1) == f'{alpha}') & (df_유치원.columns.get_level_values(2) == '소계')]][(df_유치원.index.get_level_values(1) == "계")]
        result1.columns = result1.columns.get_level_values(0)
        # print(result1.index.get_level_values(0))
        result1.index = result1.index.get_level_values(0)
        # print(result1.index)
        
        result1 = result1.apply(pd.to_numeric, errors='coerce') 
        result1.reset_index(level = 0, drop=False, inplace=True,names=firstname)
        result1.insert(loc=1, column = secondname, value = alpha[:-4])
        tmp = result1.set_index(list(result1.columns[:2])).stack().reset_index(name = '값')
        tmp.columns = ['시도별','데이터종류','year','값']
        tmp.to_sql(f'{name}', con=engine, if_exists='append'
                            , index=False)
        query = querytoText(f'''
        alter table `{name}`
        modify `{result1.columns[0]}` varchar(20) not null;
        ''')
        
        query2 = querytoText(f'''
        alter table `{name}`
        modify `데이터종류` varchar(20) not null;
        ''')
        
        query1 = querytoText(f'''
        alter table `{name}`
        add constraint `{name}_pk`
            primary key (`{firstname}`, `{secondname}`, year);

        ''')
        conn.execute(query)
        conn.execute(query2)
        conn.execute(querytoText(f'alter table `{name}` modify `year` smallint not null;'))
        conn.execute(query1) if idx == 0 else ""
        conn.commit()
        result1 = None
        
genTables()

유치원수 (개)
학급수 (개)
원아수 (명)
교원수 (명)
직원수 (명)
신입원아수 (명)
재취원아수 (명)
졸업원아수 (명)
교실수 (개)

In [383]:
genTables("KMS_초등학교", df_elementary)

학교수 (개)
학급수 (개)
학생수 (명)
교원수 (명)
직원수 (명)
입학자수 (명)
졸업자수 (명)
교실수 (개)

In [362]:
df_유치원.columns.get_level_values(1).unique()

Index(['유치원수 (개)', '학급수 (개)', '원아수 (명)', '교원수 (명)', '직원수 (명)', '신입원아수 (명)',
       '재취원아수 (명)', '졸업원아수 (명)', '교실수 (개)'],
      dtype='object', name='시도별(1)')

In [363]:
df_유치원[df_유치원.columns[df_유치원.columns.get_level_values(1) == '유치원수 (개)']][(df_유치원.index.get_level_values(1) == "계")]

,시도별(1),2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,시도별(1),유치원수 (개),유치원수 (개),유치원수 (개),유치원수 (개),유치원수 (개),유치원수 (개),유치원수 (개),유치원수 (개),유치원수 (개),유치원수 (개)
,시도별(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,소계
총계,계,8678,8826,8930,8987,9029,9021,8837,8705,8660,8562
서울특별시,계,869,884,888,879,880,876,830,795,787,788
부산광역시,계,383,395,403,412,417,413,408,403,397,394
대구광역시,계,361,375,392,375,370,369,355,346,342,329
인천광역시,계,411,412,418,427,430,423,403,404,399,396
광주광역시,계,295,308,315,321,318,314,312,298,294,288
대전광역시,계,260,265,268,269,269,269,260,256,253,255
울산광역시,계,193,196,194,196,199,197,200,198,196,191
세종특별자치시,계,25,30,43,45,53,59,60,61,62,64
경기도,계,2087,2137,2188,2234,2258,2275,2237,2206,2209,2175
강원특별자치도,계,379,385,386,379,375,373,368,366,363,359
충청북도,계,341,344,343,345,345,341,328,326,327,324
충청남도,계,507,506,503,509,508,511,499,499,498,498
전라북도,계,523,526,530,532,536,531,519,507,507,501
전라남도,계,546,551,552,553,553,551,542,530,524,516
경상북도,계,703,716,711,707,710,709,707,701,696,682
경상남도,계,683,682,679,686,690,691,686,686,683,683
제주특별자치도,계,112,114,117,118,118,119,123,123,123,119

In [364]:
df_highschool[df_highschool.columns[5:]] = df_highschool[df_highschool.columns[5:]].apply(pd.to_numeric, errors='coerce')

df_middleschoole[df_middleschoole.columns[5:]] = df_middleschoole[df_middleschoole.columns[5:]].apply(pd.to_numeric, errors='coerce')

In [365]:

df_highschool.drop(columns=['항목'], inplace=True)
df_middleschoole.drop(columns=['항목'], inplace=True)

In [366]:
df_highschool.drop(columns=df_highschool.columns[-1], inplace=True)
df_middleschoole.drop(columns=df_middleschoole.columns[-1], inplace=True)

In [367]:
df_highschool['단위'].ffill(inplace=True)
df_middleschoole['단위'].ffill(inplace=True)

In [368]:
df_highschool.columns =  df_highschool.columns.str.replace(' 년', '')
df_middleschoole.columns =  df_middleschoole.columns.str.replace(' 년', '')

In [369]:
df_highschool.to_sql(f'KMS_고등학교', 
                     con=engine, 
                     if_exists='replace', 
                     index=False
                     )


df_middleschoole.to_sql(f'KMS_중학교', 
                     con=engine, 
                     if_exists='replace', 
                     index=False
                     )

2376

In [375]:
for df_tmp, name in [(df_middleschoole, 'KMS_중학교'), (df_highschool, 'KMS_고등학교')]:
    # print(df_tmp.tail())
    conn.execute(querytoText(f'''drop table if exists {name}'''))
    conn.commit()
    df_midwithyear = df_tmp.set_index(list(df_tmp.columns[:4])).stack().reset_index(name = '값')
    df_midwithyear.columns = ['시도별', '설립주체별', '학교현황별', '단위', 'year', '값']
    df_midwithyear[df_midwithyear.columns[:-1]].drop_duplicates(inplace=True)
    df_midwithyear.to_sql(f'{name}', 
                         con=engine, 
                         if_exists='replace', 
                         index=False
                         )
    conn.execute(querytoText(f'''
alter table {name}
    modify year smallint not null;'''))
    
    for col in ['시도별', '설립주체별', '학교현황별', '단위']:
        conn.execute(querytoText(f'''
                alter table {name}
            modify {col} varchar(30) not null;
        '''))
    conn.execute(querytoText(f'''
        alter table {name}
            add constraint {name}_pk
                primary key ({", ".join(['시도별', '설립주체별', '학교현황별', '단위', 'year'])});'''))
    conn.commit()
    df_midwithyear = None

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15788\754759613.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_midwithyear[df_midwithyear.columns[:-1]].drop_duplicates(inplace=True)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '광주광역시-사립-여자-명-2013' for key 'KMS_중학교.PRIMARY'")
[SQL:
        alter table KMS_중학교
            add constraint KMS_중학교_pk
                primary key (시도별, 설립주체별, 학교현황별, 단위, year);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)