In [1]:
import pandas as pd
import pymysql
import sqlalchemy

In [10]:
passwd = '1234Q1@'

url = sqlalchemy.engine.URL.create(
	drivername="mysql+pymysql",
    username='KMS',
    password=passwd,
    host='175.122.58.102',
    port='33063',
    database='ProjectDB',
)

engine = sqlalchemy.create_engine(url)

pd.read_sql('select * from nobel', engine)

test = engine.connect()

,year,category,prize_amount,fullname,gender,birth_continent,birth_country
0,1901,Physiology or Medicine,150782,Emil Adolf von Behring,male,Europe,Prussia
1,1901,Peace,150782,Frédéric Passy,male,Europe,France
2,1901,Peace,150782,Jean Henry Dunant,male,Europe,Switzerland
3,1901,Chemistry,150782,Jacobus Henricus van 't Hoff,male,Europe,the Netherlands
4,1901,Literature,150782,Sully Prudhomme,male,Europe,France
...,...,...,...,...,...,...,...
945,2019,Economic Sciences,9000000,Michael Kremer,male,North America,USA
946,2019,Physics,9000000,Michel Mayor,male,Europe,Switzerland
947,2019,Literature,9000000,Peter Handke,male,Europe,Austria
948,2019,Physiology or Medicine,9000000,Sir Peter J. Ratcliffe,male,Europe,United Kingdom
949,2019,Physiology or Medicine,9000000,William G. Kaelin Jr,male,North America,USA